// fonts & colors & shortcuts

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");

$font: "Montserrat", sans-serif;
$font-titles: "Playfair Display", serif;
$font-articles: "Raleway", sans-serif;

$grey: #999;
$grey-medium: #666;
$grey-dark: #222;
$cream: #fafaf3;

$rwd-phone: "only screen and (max-width : 320px)";
$rwd-mobile: "only screen and (max-width : 480px)";
$rwd-tablet: "only screen and (max-width : 768px)";
$rwd-landscape: "only screen and (max-width : 1024px)";

@mixin flexCenter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@mixin button {
  cursor: pointer;
  background: none;
  outline: none;
}

// -- app design -- //

* {
  margin: 0;
  padding: 0;
  background-color: $cream;
  transition: 0.3s;
}

::-webkit-scrollbar {
  width: 0px;
}

// header & nav desing

header {
  width: 100%;
  @include flexCenter();

  .title {
    font-family: $font-titles;
    color: $grey-dark;
    margin: 70px 0 30px 0;
    font-size: 36px;
    width: 100%;
    text-transform: uppercase;
    @include flexCenter();
  }

  nav {
    a {
      font-family: $font;
      color: $grey;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0 10px;
      font-size: 12px;
      cursor: pointer;

      &:hover {
        color: $grey-medium;
      }
    }

    .active-link {
      color: $grey-medium;
    }
  }
}

// footer

footer {
  font-family: $font-titles;
  width: 100%;
  position: fixed;
  bottom: 0;
  @include flexCenter();
  padding: 10px 0px 20px 0;
}

// page sectors

.page-sector {
  width: 80%;
  margin: 0 10%;
  font-family: $font-articles;
  margin-bottom: 100px;
}

// single sectors
// home sector

.home {
  position: fixed;
  top: 200px;
  height: 65vh;

  .slide-from-right-animation {
    animation: slide-from-right 1s ease;
    position: absolute;
    top: -200px;
  }

  .home-details {
    animation: slide-opacity 1s ease;
    border-bottom: 1px solid $grey;
    width: 100%;
    max-height: 200px;
    position: absolute;
    bottom: 0;
    font-weight: lighter;

    .title {
      font-family: $font-titles;
      font-size: 28px;
      margin-bottom: 20px;
    }

    article {
      font-size: 18px;

      p {
        margin-bottom: 10px;
      }
    }
  }
}

// about sector

.about {
  animation: slide-opacity 1s ease;
  margin-top: 30px;
  border-top: 1px solid $grey;

  .about-intro {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    article {
      margin-left: 30px;

      .title {
        font-family: $font-titles;
        font-size: 28px;
        margin-bottom: 10px;
        margin-top: 0;
        color: $grey-dark;
      }

      p {
        text-align: justify;
        color: $grey-medium;
        margin-top: 20px;
        line-height: 30px;
      }
    }

    img {
      max-width: 300px;
    }
  }

  .arrow {
    display: inline-flex;
    position: absolute;
    margin-top: 50px;
    right: 50%;
    align-items: center;
    text-decoration: none;
    transform: rotate(-90deg);

    &__arrows {
      display: inline-flex;

      span {
        position: relative;
        width: 14px;
        height: 1px;
        overflow: hidden;
        background: $grey;
        z-index: 2;

        &:nth-child(1) {
          transform-origin: left bottom;
          transform: rotate(45deg) translate3d(9px, -10px, 0);
        }

        &:nth-child(2) {
          transform-origin: left bottom;
          transform: rotate(-45deg);
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          width: 0;
          height: 1px;
          background: black;
        }
      }
    }

    &__arrows {
      span {
        &:after {
          animation: animation-arrow 1.5s infinite;
        }
      }
    }
  }

  .about-more {
    width: 100%;
    height: 200px;
    border: 1px solid $grey-medium;
    margin-top: 200px;
  }
}

// contact sector

.contact {
  position: fixed;
  top: 200px;
  height: 65vh;
  border: 1px solid $grey;

  .contact-details {
    width: 100%;
    margin: 100px 0 0 0;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid $grey;
  }
}

// animations

@keyframes slide-from-right {
  0% {
    opacity: 0;
    left: -50px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes slide-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-line {
  0% {
    left: 80px;
  }

  100% {
    left: 0;
  }
}

@keyframes animation-arrow {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
